@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container styles */
#container {
  background: black;

}

/* container/canvas styles */
#container , #canvas1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#audio1 {
  width: 50%;
  margin: 50px auto;
  display: block;
}
